<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title>PoppinL | About</title>
    <link href="assets/doggy.css" rel="stylesheet" type="text/css" />
    <link href="assets/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="left">
        <ul class="nav">
            <li class="tt t1" data-color="#fff" data-active="#1abc9c"><a href="javascript:void(0)" data-id="profile"></a></li>
            <li class="bt t2" data-color="#ddd" data-active="#2ecc71"><a href="javascript:void(0)" data-id="sns"></a></li>
            <li class="tt t3" data-color="#bbb" data-active="#e74c3c"><a href="javascript:void(0)" data-id="desire"></a></li>
            <li class="bt t4" data-color="#999" data-active="#3498db"><a href="javascript:void(0)" data-id="foo"></a></li>
            <li class="tt t5" data-color="#777" data-active="#9b59b6"><a href="javascript:void(0)" data-id="bar"></a></li>
            <li class="bt t6" data-color="#555" data-active="#e67e22"><a href="javascript:void(0)" data-id="hello"></a></li>
        </ul>
    </div>
    <div class="content">
        <div id="profile">profile</div>
        <div id="sns">sns</div>
        <div id="desire">desire</div>
        <div id="foo">foo</div>
        <div id="bar">bar</div>
        <div id="hello">hello</div>
    </div>
    <script src="assets/jquery-2.1.3.min.js"></script>
    <script src="assets/index.js"></script>
</body>
</html>